
.flexbox-list{
    background: palegreen;
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}

.flexbox-item{
    list-style: none;
    margin-right: 0rem;
    color: yellow;
    text-align: center;
    transition: all 2s ease;
    padding: 7px;
    line-height: 70px;
}

.flexbox-item a{
    text-decoration: none;
    color: black; 
    
}

.flexbox-item:hover{
    background-color: blueviolet;
    color: red;

}
.img:hover{
    transform: translate(100px);
    text-align: center;
    transform: scale(1.5);
    background-color: none;
   
}

.flexbox-item:first-child{
    margin-right: auto;
    margin-left: .5rem;
    padding-top: 2rem;
}

.footer:{
    text-align: center;
    padding: 7px;
    background: palegreen;
}
