.body{
    margin: auto;
    padding: 0;
    background-color: aqua;
}


.Form-style{
	margin:auto;
	padding:30px;
	width: 100%;
	background: #29be56;
	overflow: auto;
    border-radius: 0px 0px 10px 10px ;   
}

.request{
    text-align: center;
    padding: auto;
	background: #29be56;
    margin: auto;
}

.footer{
    position: relative;
    padding-top: 20px;
    background color: brown;
    height: 150px;
    margin-top: -150px;
}